@charset "utf-8";
ul {
    list-style: none;
}
.fechal-gnb {
    width: 100%;
    height: 90px;
    display: flex;
}
.fechal-gnb .home {
    width: 60px;
    height: 30px;
}
.fechal-gnb ul li {
    font-size: 14px;
}